.contact_form{
    margin-top: 30px;
    margin-left: 60px;
    width: 1287;
    padding: 30px 0px 26px 0px;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(5,minmax(0,1fr));
}
.contact_form_h{
    border-radius: 10px;
    letter-spacing: 4px;
    width: 1275px;
    height: 1008px;
    box-shadow: rgb(0 0 0/69%) 0px 26px 30px -10px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    border: 3px solid rgba(249, 259, 249, 0.1);
    border-radius: 100px;
    background: radial-gradient(circle, #59595d 0%, #262A3A 80%, #1E2230 100%);
    box-shadow: #4f4f51 10px 0px 15px 10px;
}
.contact_form_h:hover{
    box-shadow: #5b5d63 10px 0px 15px 10px;
}
.contact_form_h h1{
    color: #5eabad;
    margin-top: 100px;
    margin-left: 515px;
}
.contact_form_h hr{
    width: 400px;
    border-width: 0 0 2px 0;
    border-color: #3b3c41;
}
.contact_form_h p{
    color: #5eabad;
    margin-left: 400px;
    font-size: 25px;
    
}
.form_inputs{
    margin-top: 30px;
    margin-left: -200px;
    padding: 30px 0px 26px 0px;
    display: grid;
    grid-gap: 530px;
    grid-template-columns: repeat(5,minmax(0,1fr));
}
.contact_from_input{
    position: relative;
    width: 1058px;
    height: 10px;
    top: 10px;
    margin-left: 310px;
    margin-top: 50px;
}
.contact_from_input input{
    width: 524px;
    padding: 11px;
    border: 1px solid #5eabad;
    background-color: #1E2230;
    border-radius: 10px;
    outline: none;
    color: #9b9fae;
    font-size: 1em;
}
.contact_from_input span{
    position: absolute;
    left: 0px;
    padding: 10px;
    font-style: normal;
    pointer-events: none;
    font-size: 1em;
    color: #5f636e;
}
.contact_from_input input:valid ~ span,
.contact_from_input input:focus ~ span { 
  color: #9b9fae;
  transform: translateX(10px);
  font-size: 0.65em;
  padding: 0 10px;
  background-color: #1E2230;
  border-left: 1px solid #a5b0b0;
  border-right: 1px solid #a5b0b0;
  letter-spacing: 0.2em;
}
.contact_from_input input:valid,
.contact_from_input input:focus {
  border: 1px solid #a5b0b0;
}
.contact_subject input{
    width: 1050px;
    margin-left: -200px;
}
.contact_subject span{
    margin-left: -200px;
}
.contact_passage textarea{
    margin-left: -200px;
    width: 1058px;
    height: 214px;
    border: 1px solid #5eabad;
    background-color: #1E2230;
    border-radius: 10px;
    outline: none;
    color: #9b9fae;
    font-size: 1.5em;
}
.contact_passage span{
    position: absolute;
    left: 0px;
    padding: 10px;
    font-style: normal;
    pointer-events: none;
    font-size: 1em;
    color: #5f636e;
}
.contact_passage textarea:valid ~ span,
.contact_passage textarea:focus ~ span { 
  color: #9b9fae;
  transform: translateX(10px);
  font-size: 0.65em;
  padding: 0 10px;
  background-color: #1E2230;
  border-left: 1px solid #a5b0b0;
  border-right: 1px solid #a5b0b0;
  letter-spacing: 0.2em;
}
.contact_passage textarea:valid,
.contact_passage textarea:focus {
  border: 1px solid #a5b0b0;
}
.contact_passage span{
    margin-left: -190px;
}
.contact_button{
    margin-top: 250px;
    margin-left: 550px;
}
.contact_button button{
    width: 214px;
    height: 48px;
    border-radius: 40px;
    font-size: 15px;
    background-color: #1E2230;
    color: #66FCF1;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    border: 1px solid #295A5B;
    border-radius: 40px;
    transition: all 0.2s ease 0s;
}
  .contact_button button:hover {
    background-color: #66FCF1;
    border-color: transparent;
    color: #295A5B;
  }
