section {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    position: relative;
}

section::before {
    content: "";
    background-position: top;
    background-repeat: no-repeat;
    background-image: url("/public/images/logo_background.gif");
    background-size: 100% 100%; /* Set background-size to cover the entire container */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.3; /* Set opacity to 0.3 for a low visibility */
    z-index: -1;
}

section::after {
    content: "";
    background-color: #0B0C10; /* Replace with your desired color */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.7; /* Set opacity for the color overlay */
    z-index: -1; /* Ensure the color overlay is behind the background image */
}

.content{
    margin-bottom: 10vw;
    color: #f9f9f9;
    width: 100%;
    position: relative;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px 40px;
    height: 100%;

}
.content img{
    margin-bottom: 12px;
    max-width: 300px;
    min-height: 1px;
    display: block;
    width: 100%;
    flex-direction: column;

    @media (max-width: 480px){
        width: 200px;
    }
}
.content h4{
    font-weight: bold;
    background-color: #295A5B;
    margin-bottom: 12px;
    width: 50%;
    letter-spacing: 1.5px;
    font-size: 18px;
    padding: 16.5px 0;
    border: 1px solid transparent;
    border-radius: 4px;

    &:hover{
        background-color: #10a49a;
    }
}
.content p{
    color: #FFFFFF;
    font-size: 12px;
    margin: 0 0 24px;
    line-height: 1.5;
    letter-spacing: 1.5px;
}
